$color-primary: #f26b38;
$color-text: #363636;
$color-gray: #8d8d8d;
$color-background: #ffffff;
$color-background-contrast: #f6f6f6;

// $color-primary-dark: #38f2c1;
// $color-text-ligth: #ffffff;
// $color-gray-ligth: #cacaca;
// $color-yellow: #efe63e;
// $color-background-dark: #31313a;
// $color-background-contrast-dark: #3b3b44;
