@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap");
@import "./_colors.scss";
@import "./_grid.scss";
@import "./_responsive.scss";

body {
  background: $color-background;
  color: $color-text;
  font-family: "Roboto Mono";
  font-size: 16px;
  margin: 0;
}

a {
  color: $color-text;
  &:hover {
    color: $color-primary;
  }
}

main {
  // background: cyan;
}

.section {
  &-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Header {
  width: 100%;
  padding: 1rem 0;
  background: $color-background;
  position: fixed;
  top: 0;
  z-index: 1;

  &-logo {
    display: flex;
    align-items: center;
    @include media(xs) {
      margin: auto;
    }
  }
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background: $color-background;
  z-index: 1;

  &-copy {
    color: $color-gray;
    font-size: 12px;
    @include media(sm) {
      text-align: center;
    }
    @include media(xs) {
      text-align: center;
    }
  }

  &-social {
    & > p {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      @include media(sm) {
        justify-content: space-between;
      }
      @include media(xs) {
        justify-content: space-between;
      }
      & > a {
        margin-left: 1em;
        color: $color-text;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.CardProfile {
  margin-bottom: 3em;
  &-image {
    width: 100%;
    display: flex;
    align-items: center;

    & > img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &-resume {
    & > h1,
    & > h2 {
      margin: 0;
      font-weight: 700;
    }

    &-container {
      display: flex;
      align-items: center;
    }
  }
}

.Profile-resume {
  color: $color-gray;
  font-weight: 300;
}

@import "./components/navbar.scss";
